<%# render includes partials that begin with _*.html.erb %>
<%# means look in pages subfolder for _home.html.erb %>
<%= render 'pages/home' %>
<div id="pins">
  <%= render @pins %>
</div>

<%= will_paginate @pins %>
