<% unless user_signed_in? %>
<div class="hero-unit">
<h1>Invite me!</h1>
<p>
	You've found the home page for the 
	 Invite me (Alpha)
	Simple and Faster than evite and punchbowl
</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	<%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>

