<% unless user_signed_in? %>
<div class="hero-unit">
<h1>Social Butterfly</h1>
<p>
	Who's going to be THE Social Butterfly?
</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	<%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>

