<% if user_signed_in? %>
	<h1>You are logged in!</h1>
<% else %>
<div class="hero-unit">
<h1>Invite me!</h1>
<p>
	You've found the home page for the 
	<%= link_to "Invite me (Alpha) sample application based on One Month Rails", "http://onemonthrails.com" %>
	Simple and Faster than evite and punchbowl and not dependent on Facebook or Google+
</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	<%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>

